$mainTransition :.5s;
////////////////////////////////////
// color classes 
$redClass:#f44336;
$bgSideBar:#f6f6f6;
$bgDashboard:#F1F5F9;
$bgDashboardContent:#eee;
$mainColorText:#888;
$profileBottomHover:#0f53a1;
$mainTransition:all .4s;
$mainColorDollar:#CCE3FF;
$secondColorDollar:#0075ff;
$mainColorCode:#FDECCE;
$secondColorCode:#F59E0B;
$mainColorTeam:#D3F3DF;
$secondColorTeam:#22C55E;

